body {
    text-align: center;
    font: Segoe UI;
    padding: 0;
    margin: 0;
}

header {
    padding: 10px;
    width: 100%;
    background-color: #00a2ed;
}

form {
    font: 16px;
}

h2 {
    font: 30px Segoe UI;
    padding: 5px;
    margin: 0;
    background-color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00a2ed;
    text-align: center;
}

label {
    color: white;
    padding: 8px;
    font: 15px Segoe UI;
    background-color: #2196F3;
    border-radius: 25px;
}

input {
    width: 40%;
    text-align: center;
    padding: 12px 20px;
    display: block;
    margin: 12px auto;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 4px;
}

topnav {
    overflow: hidden;
    background-color: #999999;
}

topnav a {
   float: left;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

topnav a:hover {
   background-color: #F37E21;
   color: black;
}

topnav a.active {
  background-color: #2196F3;
  color: black;
}
