{% extends "UI.html" %}
{% block content %}

<topnav>
    <a class="active" href="/home">Home</a>
    <a href="/request">Request</a>
    <a href="/booked">Booked</a>
    <a href="/">logout</a>
</topnav>

<br>
    <br>
    <br>
<H1> Welcome {{name}} </h1>
<br>
<h2>Within the site you can do the following: 
<br> 
<br> 
1) Request new holidays.
<br>
<br> 
2) Look at holidays you have alreay requested.
<br>
<br> 
You can do this by clicking on the appropiate tab on the task bar above
</h2>


{% endblock %}