{% extends "UI.html" %}
{% block content %}

<topnav>
    <a class="active" href="#home">Home</a>
    <a href="#Request">Request</a>
    <a href="#Booked">Booked</a>
    <a href="#logout">logout</a>
</topnav>

<form>
    <br>
    <br>
    <br>
    <label for="fname">Starting Date:</label>
    <br>
    <input type="date" id="startdate" name="startdate" value="dd/mm/yy">
    <br>
    <label for="lname">Ending Date:</label>
    <br>
    <input type="date" id="enddate" name="enddate" value="dd/mm/yy">
    <br>
    <input type="submit" value="Submit" onclick="dateInput()">
</form>

<script>
function dateInput() {
  alert("Thank You for Inputting your holiday dates");
}
</script>

{% endblock %}